In [12]:
# Import necessary libraries
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder

In [13]:
data = pd.read_csv('Dataset.csv',encoding = 'windows-1252')

In [14]:
print(data)

                 Name      Location    Phone_no.  Gender      Service
0         Kushi Tyagi     Bairagarh  94670 30502  Female  Electrician
1        Aryan Sharma    Habib Ganj  76780 61471    Male     Painting
2       Sanjana Singh      MP Nagar  94858 94092  Female      Plumber
3         Rohit Patel         Ashta  81171 03120    Male     Cleaning
4         Kavya Gupta  Arera Colony  92592 33560  Female    Gardening
..                ...           ...          ...     ...          ...
109       Meera Reddy      MP Nagar  76508 46608  Female     Mechanic
110  Sanjay Singhania      TT Nagar  94079 66250    Male    Gardening
111       Tanvi Desai   Raisen Road  89112 21819  Female     Cleaning
112               NaN           NaN          NaN     NaN          NaN
113               NaN           NaN          NaN       Â           NaN

[114 rows x 5 columns]

In [15]:
data.isnull().sum()

Name         2
Location     2
Phone_no.    2
Gender       1
Service      2
dtype: int64

In [23]:
# Preprocess the data
data = data.drop_duplicates()  # remove duplicates
data = data.dropna()  # remove missing values
data['Location'] = data['Location'].str.lower()  # standardize location data to lowercase

print(data)

                    Name      Location     Phone_no.  Gender  Service
0            Kushi Tyagi     bairagarh   94670 30502       1        3
1           Aryan Sharma    habib ganj   76780 61471       2        6
2          Sanjana Singh      mp nagar   94858 94092       1        8
3            Rohit Patel         ashta   81171 03120       2        1
4            Kavya Gupta  arera colony   92592 33560       1        4
..                   ...           ...           ...     ...      ...
107         Shruti Menon        sehore   87567 43798       1        3
108  Abhinav Chakraborty         ashta   90360 22235       2        6
109          Meera Reddy      mp nagar   76508 46608       1        5
110     Sanjay Singhania      tt nagar   94079 66250       2        4
111          Tanvi Desai   raisen road   89112 21819       1        1

[112 rows x 5 columns]

In [19]:
data.isnull().sum()

Name         0
Location     0
Phone_no.    0
Gender       0
Service      0
dtype: int64

In [21]:
# Encode categorical data
le = LabelEncoder()
data['Gender'] = le.fit_transform(data['Gender'])
data['Service'] = le.fit_transform(data['Service'])
data['']

In [22]:
print(data)

                    Name      Location     Phone_no.  Gender  Service
0            Kushi Tyagi     bairagarh   94670 30502       1        3
1           Aryan Sharma    habib ganj   76780 61471       2        6
2          Sanjana Singh      mp nagar   94858 94092       1        8
3            Rohit Patel         ashta   81171 03120       2        1
4            Kavya Gupta  arera colony   92592 33560       1        4
..                   ...           ...           ...     ...      ...
107         Shruti Menon        sehore   87567 43798       1        3
108  Abhinav Chakraborty         ashta   90360 22235       2        6
109          Meera Reddy      mp nagar   76508 46608       1        5
110     Sanjay Singhania      tt nagar   94079 66250       2        4
111          Tanvi Desai   raisen road   89112 21819       1        1

[112 rows x 5 columns]